<div class="container">
  <%= render "shared/flash_messages" %>
    <h3 class="title-new">旅を記録する</h3>
    <div class="post">
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

      <%= form_tag(posts_path, method: :post, multipart: true) do |f|%>
        <form action="index.html" method="post">
          <div class="form-group">
            <label for="name">国・スポット</label>
            <textarea name="name" class="form-control" id="name" placeholder="京都・金閣寺"><%= @post.name %></textarea>
          </div>

          <div class="form-group">
            <label for="message">本文</label>
            <textarea id="text" name="text" rows="8" cols="80" class="form-control" placeholder="雪化粧がとても綺麗。"><%= @post.text %></textarea>
          </div>

          <input name="image" type="file">
          <button type="submit" class="btn btn-primary btn-lg btn-block">記録する</button>
        </form>
      <% end %>
    </div>
</div>