<div class="container">
  <%= render "shared/flash_messages" %>

    <h3 class="title-new">旅を記録する</h3>

    <div class="post">
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

      <%= form_with(model: @post, local: true, multipart: :true) do |f|%>
        <form action="index.html" method="post">

          <div class="form-group">
            <label for="name">国・スポット</label>
            <%= f.text_field :name, class:"form-control", placeholder:"京都・金閣寺"%>
          </div>

          <div class="form-group">
            <label for="message">本文</label>
            <%= f.text_field :text, class:"form-control", placeholder:"雪化粧がとても綺麗"%>
          </div>

          <div class="form-group">
            <%= f.file_field :image %>
          </div>

          <%= f.submit "記録する", class: "btn btn-primary btn-lg btn-block" %>

        </form>
      <% end %>
    </div>
</div>